body{
    background-color: rgb(127, 133, 139);
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
    color: chartreuse;
}

p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}